p {
    margin: 0;
    word-break:break-all;
    word-wrap:break-word;
}

input[type="number"]::-webkit-inner-spin-button{
    display: none;
}

body {
    height: 100vh;
    margin: 0;
}
.div_name{
    font-size: xx-large;
    background-color: white;
    color: black;
    align-content: center;
    word-break:break-all;
    word-wrap:break-word;
}

.name_panel{
    align-content: center;
    grid-area: name;
}
.h_text{
    grid-area: text;
}
.cat_picture{
    width: 100%;
    height: 100%;
    grid-area: picture;
}

.width_o{
    grid-area: width_o;
}
.height_o{
    grid-area: height_o;
}
.result_o{
    grid-area: result_o;
}
.button_o{
    grid-area: button_o;
}


.input_fields{
    width: 100%;
    grid-area: input_fields;
    display: grid;
    grid-template-areas:
            'width_o height_o button_o'
            'result_o result_o result_o';
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 34%;
}

li{
    word-break:break-all;
    word-wrap:break-word;
}
.li_circle {
    list-style-type: circle;
    word-break:break-all;
    word-wrap:break-word;
}
.li_circle li {
    list-style-type: disc;
    word-break:break-all;
    word-wrap:break-word;
}
.scam{
    font-size: xx-large;
    color: red;
}
.scam_ref{
    font-size: xx-large;
    color: red;
}
.main_grid{
    display: grid;
    grid-template-areas:
            'header        header        header'
            'small_banner1 main_article  right_article'
            'left_article  main_article  right_article'
            'left_article  small_banner2 right_article'
            'footer        footer        footer';
    grid-template-columns: 20% 60% 20%;
}
.header {
    align-items: center;
    padding-right: 1%;
    grid-template-areas: 'text name';
    grid-template-columns: 95% 5%;
    display: grid;
    min-height: 10vh;
    grid-area: header;
    background-color: cornflowerblue;
}
.small_banner1 {
    min-height: 10vh;
    grid-area: small_banner1;
    background-color: greenyellow;
}
.left_article {
    min-height: 70vh;
    grid-area: left_article;
    background-color: coral;
    display: flex;
    justify-content: center;
}
.main_article {
    display: grid;
    grid-template-areas:
            'picture'
            'input_fields';
    grid-template-rows: 90% 10%;
    min-height: 70vh;
    grid-area: main_article;
    background-color: white;
}

.small_banner2 {
    min-height: 10vh;
    grid-area: small_banner2;
    background-color: greenyellow;
}
.right_article {
    min-height: 80vh;
    grid-area: right_article;
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.right_article ol {
    margin-left: 40px;
    padding: 0;
}
.footer {
    align-items: center;
    padding-right: 1%;
    grid-template-areas: 'text name';
    grid-template-columns: 95% 5%;
    display: grid;
    min-height: 10vh;
    grid-area: footer;
    background-color: cornflowerblue;
}
