p {
    margin: 0;
    word-break:break-all;
    word-wrap:break-word;
}
body {
    height: 100vh;
    margin: 0;
}
.div_name{
    font-size: xx-large;
    background-color: white;
    color: black;
    align-content: center;
    word-break:break-all;
    word-wrap:break-word;
}
.name_panel{
    min-width: 5%;
    padding-right: 1%;
    align-content: center;
}

.text_data{
    width: 95%;
    background-color: cornflowerblue;
}
.name_data{
    padding-right: 1%;
    width: 5%;
    background-color: cornflowerblue;
}
.small_table{
    height: 10vh;
    width: 100%;
}
.cat_picture{
    width: 100%;
}
li{
    word-break:break-all;
    word-wrap:break-word;
}
.li_circle {
    list-style-type: circle;
    word-break:break-all;
    word-wrap:break-word;
}
.li_circle li {
    list-style-type: disc;
    word-break:break-all;
    word-wrap:break-word;
}
.scam{
    font-size: xx-large;
    color: red;
}
.scam_ref{
    font-size: xx-large;
    color: red;
}

table {
    border-spacing: 0;
    width: 100%;
    height: 100vh;
}
tr {
    display: table-row;
    width: 100%;
}
td{
    border-collapse: collapse;
    text-align: start;

}

.main_table{
    min-width: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: cornflowerblue;
}
.small_banner1 {
    width: 20%;
    height: 10vh;
    background-color: greenyellow;
}
.left_article {
    vertical-align: top;
    width: 20%;
    height: 70vh;
    background-color: coral;
}
.main_article{
    vertical-align: top;
    width: 60%;
    max-height: 70vh;
    height: 70vh;
    background-color: white;
}
.small_banner2 {
    width: 60%;
    height: 10vh;
    background-color: greenyellow;
}
.right_article {
    vertical-align: top;
    width: 20%;
    height: 80vh;
    background-color: coral;
}
.footer {
    width: 100%;
    height: 10vh;
    background-color: cornflowerblue;
}
